.main-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2.3rem;
    width: 100%;
    height: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.q-container, .r-container{
    background-color: white;
    border: 4px solid #ffdd00;
    border-radius: 2rem;
    width: 90%;
    padding: 1.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.r-container{
    gap: 2.3rem;
}

.q-container ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.q-container li{
    border: 2px solid #ffdd00;
    color: #836DCA;
    font-weight: bold;
    border-radius: 1rem;
    list-style: none;
    cursor: pointer;
    font-size: 1.3rem;
    padding: .5rem .9rem;
    transition: .2s ease;
}

.q-container .li-selected{
    background-color: #836DCA;
    color: white;
    border: 2px solid transparent;
}

.row-container{
    display: grid;
    gap: 2rem;
    
}

.q-container .li-hover:hover{
    background-color: #E9E9E9;
}

.q-container .f-image{
    width: 70%;
    margin: 0 auto;
}

.f-image img{
    border: 4px solid #ffdd00;
    border-radius: 2rem;
}

.btn ,
.btn-disabled{
    align-self: center;
}

.btn:hover{
    border: 3px solid #ffdd00;
    color: #836DCA;
    background-color: transparent;
}

.btn-disabled{
    background-color: #E9E9E9;
    color: white;
    cursor: default;
}

.r-container button{
    background: transparent;
    color: #836DCA;
    font-size: 1.4rem;
    font-weight: bold;
    transition: .3s ease;
}

.r-container .btn-container{
    text-align: center;
}

.r-container button:hover{
    color: #ffdd00;
}

.r-container .mainSpan{
    font-size: 2rem;
}

.line{
    height: 3px;
    background: #ffdd00;
    width: 100%;
    width: calc(100% + 1.5rem + 1.5rem);
    margin: calc(1.5rem * -1);
}

.r-container .content h3{
    font-size: 1.3rem;
    color: #836DCA;
    margin-bottom: 1rem;
}

.content p{
    color: #836DCA;
    font-size: 1.2rem;
    line-height: 2rem;
}

.content span{
    font-weight: 600;
}

.r-container span{
    text-align: center;
    color: #ffdd00;
}

.Rimg{
    padding-top: 1rem;
}

@media only screen and (min-width:480px){
    .Rimg{
        max-width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (min-width:768px){
    .down{
        display: flex;
        align-items: center;
    }

    .Rimg{
        width: 50%;
        margin-right: .1rem;
        padding-top: 0;
    }

    .r-container , .q-container{
        width: 80%;
    }

    .row-container{
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

}

@media only screen and (min-width:1024px){
    .content p{
        line-height: 3rem;
        font-size: 1.5rem;
    }

    .Rimg{
        width: 40%;
    }

    .r-container , .q-container{
        width: 65%;
    } 
}
